.about {
  grid-template-columns: 1fr;
  margin-bottom: 4rem;
}

.about__image {
  display: none;
}

.about__data {
  .about__data-description {
    max-width: 50rem;
    margin-inline: auto;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 1.6rem;
    margin-bottom: 1.6rem;
  
    .about__title {
      font-size: var(--semi-font-size);
      font-weight: var(--semibold-font-weight);
      margin-bottom: 1.6rem;
    }
  
    .about__paragraph {
      font-size: var(--normal-font-size);
      line-height: 2.4rem;
    }
  }

  .about__link {
    display: block;
    text-align: center;
  }
}