.container {
  max-width: 1300px;
  margin-inline: 1.5rem;
}

// animaçao scroll reveal
// .main {
//   overflow: hidden;
// }

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.link {
  font-size: var(--normal-font-size);
  font-weight: var(--medium-font-weight);
  color: var(--first-color);
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1300px;
    margin-inline: auto;
    padding: 0 1.5rem;
  }
}